<!--1.views
      | ->paticals 
               | ->1.HTML&Scrpt
               |   2.Topnavbarwithout_Search
               |   3.settingpannel
               |   4.sidebar
               |   5.Allot Functinality -------
               |   6.footer ---->


<%- include('partials/HTML&Scrpt') %>
  <%- include('partials/Topnavbarwithout_Search') %>
    <%- include('partials/settingpannel') %>
      <%- include('partials/sidebar') %>

        <!---------------------------------------------------------4.Allot Area------------------------------------------------------->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
              <div class="col-md-6">
                <div class="card">
                  <div class="card-body">
                    <br>
                    <h4 class="card-title">Allot Particle</h4>
                    <br>
                    <form action="/reset-password" method="POST">
                      <div class="form-group input-rounded">
                        <input type="password" class="form-control" placeholder="User id" id="old_password"
                          name="old_password" required><br>
                        <input type="password" class="form-control" placeholder="Name" id="old_password"
                          name="old_password" required><br>
                        <input type="password" class="form-control" placeholder="Quantity" id="new_password"
                          name="new_password" required><br>
                        <input type="password" class="form-control" placeholder="Payment Method" id="old_password"
                          name="old_password" required><br>
                        <input type="password" class="form-control" placeholder="Payment Number" id="confirm_password"
                          name="confirm_password" required><br>
                      </div>
                      <button type="submit" class="btn btn-primary btn-block">Allot</button>
                    </form>

                  </div>
                </div>
              </div>
            </div>
          </div>

          <%- include('partials/footer') %>