<!--1.views
      | ->paticals 
               | ->1.HTML&Scrpt
               |   2.Topnavbarwith_Search
               |   3.settingpannel
               |   4.sidebar
               |   5.UserData -------
               |   6.Footer---->

<%- include('partials/HTML&Scrpt') %>
  <%- include('partials/Topnavbarwith_Search') %>
    <%- include('partials/settingpannel') %>
      <%- include('partials/sidebar') %>

        <!---------------------------------------------------------------Userdata Table--------------------------------------------------------- -->

        <div class="main-panel">
          <div class="content-wrapper">
            <div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
              <div class="col-md-6">
                <div class="card">
                  <div class="card-body">
                    <br>
                    <h4 class="card-title">Stop Rent</h4>
                    <br>
                    <form action="/" method="POST">
                      <div class="form-group input-rounded">
                        <input type="password" class="form-control" placeholder="Enter User ID" id="old_password"
                          name="old_password" required>
                      </div>
                      <div class="form-group input-rounded">
                        <input type="password" class="form-control" placeholder="Enter Name" id="new_password"
                          name="new_password" required>
                      </div>

                      <button type="submit" class="btn btn-primary btn-block">Stop Rent</button>
                    </form>
                    <% if (typeof errorMessage !=='undefined' ) { %>
                      <div class="alert alert-danger">
                        <%= errorMessage %>
                      </div>
                      <% } %>
                  </div>
                </div>
              </div>
            </div>
            <%- include('partials/footer') %>