<!--1.views
      | ->paticals 
               | ->1.HTML&Scrpt
               |   2.Topnavbarwith_Search
               |   3.settingpannel
               |   4.sidebar
               |   5.UserData -------
               |   6.Footer---->

<%- include('partials/HTML&Scrpt') %>
  <%- include('partials/Topnavbarwith_Search') %>
    <%- include('partials/settingpannel') %>
      <%- include('partials/sidebar') %>

        <!-------------------------------------------------------------Userdata Table------------------------------------------------------->

        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">ROI Income Details</h4>
              <div class="scrollable-table" style="overflow-x: auto; width: 100%;">
                <div class="table-responsive" style="min-width: 1200px;">
                  <table class="table table-hover" style="width: 100%;">
                    <thead>
                      <tr>
                        <th>Sr</th>
                        <th>User ID</th>
                        <th>User Name</th>
                        <th>roi_monthly_amount</th>
                        <th>Package</th>
                        <th>Roi Paid</th>
                        <th>Net Paid</th>
                        <th>Total Days</th>
                        <th>Bank Name</th>
                        <th>Bank Account</th>
                        <th>Bank IFSC</th>
                        <th>Admin</th>
                        <th>TDS</th>
                        <th>Date</th>
                        <th>Action</th>
                        <th></th>
                      </tr>
                    </thead>
                    <% roi_payout_log.forEach(function(log) { %>
                      <tr id="row-<%= log.id %>">
                        <td>
                          <%= log.id %>
                        </td>
                        <td data-field-name="user_id">
                          <%= log.user_id %>
                        </td>
                        <td data-field-name="user_name">
                          <%= log.user_name %>
                        </td>
                        <td data-field-name="roi_monthly_amount">
                          <%= log.roi_monthly_amount %>
                        </td>
                        <td data-field-name="package">
                          <%= log.package %>
                        </td>
                        <td data-field-name="roi_paid">
                          <%= log.roi_paid %>
                        </td>
                        <td data-field-name="net_paid">
                          <%= log.net_paid %>
                        </td>
                        <td data-field-name="total_days">
                          <%= log.total_days %>
                        </td>
                        <td data-field-name="bank_name">
                          <%= log.bank_name %>
                        </td>
                        <td data-field-name="bank_account">
                          <%= log.bank_account %>
                        </td>
                        <td data-field-name="bank_ifsc">
                          <%= log.bank_ifsc %>
                        </td>
                        <td data-field-name="admin">
                          <%= log.admin %>
                        </td>
                        <td data-field-name="tds_charges">
                          <%= log.tds_charges %>
                        </td>
                        <td data-field-name="created_date">
                          <%= new Date(log.created_date).toLocaleDateString() %>
                            <%= new Date(log.created_date).toLocaleTimeString() %>
                        </td>
                        <td><button type="button" class="btn btn-warning btn-sm"
                            onclick="editRow('<%= log.id %>')">Edit</button></td>

                      </tr>
                      <% }); %>
                  </table>
                </div>
              </div>

            </div>


            <%- include('partials/pagination') %>
              <%- include('partials/footer') %>